@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f0202;
  --foreground: #eee6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c0202;
    --foreground: #efc5c5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
